<h1 class="title">
  Simple Flight Booker
</h1>
<h2 class="subtitle">
  Book your <i>dream get-away</i> today!
</h2>

<div>
  <%= render 'search_form' %>
<div>

<div>
  <% if @available_flights %>
    <%= render 'search_results' %>
  <% end %>  
<div>